body {
  margin: 0;
  padding: 0;
  background-color: #fff; 
  font-family: Arial, sans-serif;
  box-sizing: border-box; 

  background-image: url("../imagenes/fondocasino.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* opcional para efecto parallax */
}

/*main#contenido {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px; 
  padding-top: 100px; 
  background-color: #fff;
  min-height: 100vh;
  box-sizing: border-box;
  background-image: url("../imagenes/fondocasino.jpg");
  background-size: cover;       
  background-position: center; 
  background-repeat: no-repeat; 
}
*/
